;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[binaryage/devtools "1.0.6"]
  [cider/cider-nrepl "0.28.7"]]

 :nrepl {:port 9000}

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :devtools {:http-root "resources/public"
              :http-port 3000}
   :modules {:main {:entries [examples.vega-test] :default true}}}}}
