;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/js"
  "src/test"]

 :dependencies
 [[binaryage/devtools "0.9.10"]
  [cider/cider-nrepl "0.18.0"]]

 :nrepl {:port 9000}

 :builds
 {:app
  {:target :browser
   :js-options
   {:resolve {"vega" {:target :file
                      :file "src/js/local-vega.js"}
              "vega-lite" {:target :file
                           :file "src/js/local-vega-lite.js"}}}
   :output-dir "resources/public/js"
   :asset-path "/js"
   :devtools {:http-root "resources/public"
              :http-port 3000}
   :modules {:main {:entries [examples.vega-test] :default true}}}}}
